body {
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    margin: 50px 0;
    text-align: center;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
    font-weight: 400;
}

.container {
    justify-content: center;
    display: flex;
}

.item {
    align-self: center;
}

.qr-box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.9rem;
    padding: 0.8rem;
    width: 300px;
}

.qr-image {
    border-radius: 7px;
    width: 100%;
}

.attribution {
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 375px) {

    #qr {
        width: 200px;
    }
}